body {
  overflow-x: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.row {
  margin: 0;
}

/* ###### */
.custombtn, .first-section ul button:first-of-type, .first-section ul button:last-of-type {
  border-radius: 10px;
  border: 0;
  outline: 0;
  padding: 10px 15px;
  background-image: linear-gradient(45deg, #2596be, #9ec452);
  color: #fff;
  font-size: 20px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.custombtn:hover, .first-section ul button:hover:first-of-type, .first-section ul button:hover:last-of-type {
  background-image: linear-gradient(45deg, #9ec452, #2596be);
  background-position: right center;
}

header.first-header {
  color: #9ec452;
  font-size: 16px;
  text-align: right;
}

header.first-header .brand {
  padding: 15px;
  font-size: 24px;
  color: #fff;
}

header.first-header .brand:hover {
  color: #fff;
  text-decoration: none;
}

header.first-header .right {
  padding: 10px 0;
}

header.first-header .right > i {
  color: #2596be;
}

header.first-header .right span {
  margin: auto 10px;
}

header.first-header .right .social {
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  padding: 0 15px;
}

header.first-header .right .social i {
  margin: auto 5px;
}

header.first-header hr {
  background: rgba(255, 255, 255, 0.25);
  width: 75%;
  float: right;
  margin: 0;
}

/* ###### */
nav .brand-lg, .header-on-scroll .brand-lg {
  position: absolute;
  top: 0;
  text-align: left;
  margin-left: 50px;
}

nav .brand-lg img, .header-on-scroll .brand-lg img {
  width: 140px;
  height: 116px;
}

nav ul, .header-on-scroll ul {
  list-style-type: none;
  float: right;
  margin: 0;
  margin-right: 13vh;
  padding: 20px;
}

nav ul .brand-xs, .header-on-scroll ul .brand-xs {
  font-size: 24px;
  font-weight: bold;
  margin-right: 55vh;
}

nav ul li, .header-on-scroll ul li {
  display: inline-block;
  margin: auto 15px;
}

nav ul li a, .header-on-scroll ul li a {
  color: #2596be;
  font-size: 20px;
  font-weight: bold;
}

nav ul li a:hover, .header-on-scroll ul li a:hover {
  color: #fff;
  text-decoration: none;
}

/* ###### */
.header-on-scroll {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: #fff;
  z-index: 50;
}

.header-on-scroll ul li .brand img {
  width: 87.5px;
  height: 72.5px;
}

.header-on-scroll ul li a {
  color: #2596be;
}

.header-on-scroll ul li a:hover {
  color: #2596be;
}

.header-on-scroll ul li .active {
  color: #2596be;
}

.header-on-scroll ul li .active:hover {
  color: #2596be;
}

.header-on-scroll.show-lg {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0px 1px 10px #999;
          box-shadow: 0px 1px 10px #999;
  z-index: 50;
}

.header-on-scroll.show-lg ul {
  padding: 15px;
}

.header-on-scroll.show-lg ul .brand {
  position: absolute;
  top: 50%;
  left: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* ###### */
.first-section {
  padding: 50px 20px;
}

.first-section h1 {
  margin-top: 70px;
  font-size: 60px;
  font-weight: bold;
  color: #2596be;
}

.first-section p {
  margin-top: 50px;
  width: 75%;
  color: #fff;
}

.first-section ul {
  margin-top: 50px;
  list-style-type: none;
}

.first-section ul button:first-of-type {
  display: inline;
  background: rgba(238, 238, 238, 0.8);
  color: #2596be;
  font-weight: bold;
  min-width: 210px;
}

.first-section ul button:first-of-type:hover {
  background-image: none;
}

.first-section ul button:first-of-type i {
  padding: 0 5px;
  margin-left: 5px;
}

.first-section ul button:last-of-type {
  padding: 15px 32px;
  color: #fff;
  min-width: 210px;
}

.first-section ul button:last-of-type i {
  background: #fff;
  color: #2596be;
  padding: 0 5px;
  border-radius: 2px;
  margin-left: 5px;
  font-weight: bold;
}

/* ###### */
section.solutions small {
  color: #808080;
  text-transform: uppercase;
}

section.solutions h2 {
  color: #2596be;
  font-weight: 900;
}

section.solutions ul {
  list-style-type: none;
  margin-top: 30px;
}

section.solutions ul li {
  position: relative;
  background: #eee;
  margin: 5px;
  padding: 20px 10px;
  border-radius: 5px;
  z-index: 7;
}

section.solutions ul li:hover {
  background: -webkit-gradient(linear, left top, right top, from(#2596be), to(#9ec452));
  background: linear-gradient(90deg, #2596be, #9ec452);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

section.solutions ul li:hover p {
  color: #fff !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section.solutions ul li p,
section.solutions ul li i {
  margin: 15px;
}

section.solutions ul li p:first-of-type {
  color: #2596be;
  font-size: 20px;
  z-index: 6000000;
}

section.solutions ul li span {
  position: relative;
  width: 105px;
  height: 105px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 auto;
}

section.solutions ul li span .fa-circle {
  display: none;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 5px;
  height: 5px;
  font-size: 0.5em;
  color: #fff;
}

section.solutions ul li figure {
  position: relative;
  margin: 0 auto;
  top: 117%;
  -webkit-transform: translateY(-117%);
          transform: translateY(-117%);
  width: 90px;
  height: 90px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
}

section.solutions ul li figure img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

section.solutions ul li p:last-of-type {
  color: #808080;
  z-index: 6;
}

section.mission {
  color: #808080;
  padding: 15px 0 15px 15px;
}

section.mission small {
  text-transform: uppercase;
  padding: 15px 0;
}

section.mission h2 {
  color: #2596be;
  font-weight: 900;
  padding: 15px 0;
}

section.mission .sub-vision,
section.mission .sub-values {
  display: none;
}

section.mission ul.left {
  list-style-type: none;
}

section.mission ul.left li span {
  margin-right: 10px;
}

section.mission ul.left li span i {
  font-size: 10px;
  padding: 1px;
  color: #2596be;
  border: 1px solid #2596be;
  border-radius: 50%;
}

section.mission ul.right {
  padding: 20px;
}

section.mission ul.right li {
  display: inline-block;
  padding: 10px;
  color: #2596be;
  font-size: 20px;
  cursor: pointer;
}

section.mission ul.right li:nth-of-type(2) b {
  border-left: 1px solid rgba(128, 128, 128, 0.5);
  border-right: 1px solid rgba(128, 128, 128, 0.5);
  padding: 0 10px;
}

section.mission ul.right li:after {
  display: block;
  content: '';
  padding-top: 10px;
  border-bottom: solid 3px #2596be;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

section.mission ul.right li:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

section.mission ul.right li:hover span.check {
  background: #2596be;
}

section.mission ul.right li:hover span.check .fa-check {
  font-weight: bold;
  color: #2596be;
}

section.mission ul.right li span.check {
  width: 25px;
  height: 25px;
  padding: 2px;
  border: 1px solid #808080;
  background: #fff;
  border-radius: 50%;
}

section.mission ul.right li span.check .fa-check {
  position: relative;
  left: 5px;
  top: -3px;
  color: #808080;
  font-size: 24px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}

section.work-process small {
  color: #808080;
  text-transform: uppercase;
}

section.work-process h2 {
  color: #2596be;
  font-weight: 900;
}

section.work-process ul {
  list-style-type: none;
  margin-top: 30px;
}

section.work-process ul li {
  position: relative;
  padding: 20px 10px;
  margin: auto 50px;
}

section.work-process ul li:hover * {
  color: #fff !important;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

section.work-process ul li:hover span.num {
  color: #fff;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

section.work-process ul li:hover span.num i {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

section.work-process ul li .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background: -webkit-gradient(linear, left top, right top, from(#2596be), to(#9ec452));
  background: linear-gradient(90deg, #2596be, #9ec452);
}

section.work-process ul li .overlay.active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

section.work-process ul li .overlay.notActive {
  -webkit-transform: scaleY(2);
          transform: scaleY(2);
  overflow: hidden;
}

section.work-process ul li span.num {
  position: relative;
  padding: 5px 10px;
  margin-left: 45%;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 50%;
  color: #2596be;
  font-weight: bold;
  z-index: 5;
}

section.work-process ul li span.num i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #2596be;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  z-index: -1;
}

section.work-process ul li p:first-of-type {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: #2596be;
  margin-top: 10px;
  z-index: 5;
}

section.work-process ul li figure {
  position: relative;
}

section.work-process ul li p:last-of-type {
  position: relative;
  color: #808080;
  z-index: 5;
}

footer {
  background: #2596be;
  color: #fff;
  padding: 40px 0 20px;
}

footer ul {
  list-style-type: none;
  text-transform: capitalize;
  display: inline-block;
  padding-left: 0;
}

footer ul li a {
  text-decoration: none !important;
}

footer ul.col-12 {
  display: inline;
}

footer ul.col-12 h4 {
  margin-bottom: 30px;
}

footer ul.col-12 i {
  display: inline;
}

footer ul.col-12 p {
  margin: -5px auto 10px;
}

footer ul.col-12 label,
footer ul.col-12 address {
  display: inline-block;
  margin: 0;
  text-transform: lowercase;
  opacity: 0.5;
}

footer ul.links ul li {
  position: relative;
  margin: 10px auto;
}

footer ul.links ul li a {
  position: relative;
  left: 0;
  color: #fff;
  font-size: 20px;
  opacity: 0.5;
}

footer ul.links ul li a i {
  position: absolute;
  top: 50%;
  left: -20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-right: 5px;
  color: #9ec452;
  font-size: 10px;
  opacity: 0;
}

footer ul.links ul li a:hover {
  opacity: 1;
  left: 20px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

footer ul.links ul li a:hover i {
  opacity: 1;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

footer ul.about p {
  opacity: 0.5;
}

footer ul.about input[type='email'] {
  border: 1px solid rgba(158, 196, 82, 0.5);
  border-radius: 10px;
  height: 50px;
  width: 60%;
  background: #1687a7;
}

footer ul.about input[type='email']::-webkit-input-placeholder {
  color: #ddd;
}

footer ul.about input[type='email']:-ms-input-placeholder {
  color: #ddd;
}

footer ul.about input[type='email']::-ms-input-placeholder {
  color: #ddd;
}

footer ul.about input[type='email']::placeholder {
  color: #ddd;
}

footer ul.about input[type='email']:focus {
  outline: none;
}

.go-top {
  position: absolute;
  top: -100px;
  right: 20px;
  z-index: 50;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.go-top button {
  background: transparent;
  font-size: 22px;
  border: 1px solid #808080;
  border-radius: 5px;
  padding: 5px 10px;
}

.go-top button:hover {
  background: #2596be;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.go-top.active {
  position: fixed;
  top: 90%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
@media all and (min-width: 992px) {
  .first-section ul button:last-of-type {
    margin-left: 40px;
  }
}

/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
@media all and (max-width: 992px) {
  .first-header img {
    width: 140px;
    height: 116px;
  }
  .first-header .right {
    margin: 0 auto;
    text-align: center;
  }
  .first-header hr {
    margin: 5px auto !important;
    width: 90% !important;
    text-align: center !important;
    float: none !important;
  }
  .first-header div.py-3 {
    position: relative;
  }
  .first-header div.py-3 .fa-bars {
    color: #2596be;
    font-size: 20px;
    cursor: pointer;
    vertical-align: middle;
  }
  .first-header div.py-3 span {
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header-on-scroll {
    position: fixed;
    top: 0;
    right: 0;
    left: 55%;
    visibility: hidden;
    display: block;
    height: 100%;
    width: 45%;
    background: #1687a7;
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .header-on-scroll ul {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
  }
  .header-on-scroll ul .x-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 1;
    z-index: 5;
    cursor: pointer;
  }
  .header-on-scroll ul .x-btn .bi-x {
    color: #cad315;
    font-size: 22px;
  }
  .header-on-scroll ul li {
    position: relative;
    display: block;
  }
  .header-on-scroll ul li a {
    color: #fff !important;
  }
  .header-on-scroll ul li a .brand {
    text-align: center;
  }
  .header-on-scroll ul li a i {
    background: rgba(52, 45, 108, 0.8);
    padding: 0 5px;
    border-radius: 2px;
    font-size: 14px;
    position: absolute;
    right: -8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header-on-scroll ul li:nth-of-type(2) {
    background: #fff;
    margin: 0;
    padding: 0;
  }
  .header-on-scroll hr {
    background: rgba(255, 255, 255, 0.25);
    margin: 10px auto;
  }
  .header-on-scroll.show-sm {
    visibility: visible;
    position: fixed;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .header-on-scroll.show-sm img {
    width: 105px !important;
    height: 87px !important;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 30;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
  .overlay.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
  footer .container {
    margin: 0;
  }
  footer .container h4 {
    margin: 10px auto !important;
  }
}

/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
@media all and (max-width: 540px) {
  h1 {
    font-size: calc(100% - -15px) !important;
  }
  h2 {
    font-size: calc(100% - -10px) !important;
  }
  .first-header .right {
    text-align: center;
  }
  .first-header .right .social {
    display: inline-block;
    border-left: 0 !important;
    margin: auto 0;
    text-align: right;
  }
  .first-header .right .social + span {
    display: inline;
  }
  .first-section ul button {
    display: block;
    margin-bottom: 5px;
  }
  .mission ul.right li b {
    border-left: 0 !important;
    border-right: 0 !important;
    padding: 0 !important;
  }
}
/*# sourceMappingURL=style.css.map */